body {
    direction: rtl;
    background-color: #000000;
    font-family: 'Assistant', sans-serif;
}

#container {
    width: 1280px;
    margin: 0 auto;
   
}

.wheelchair {
    width: 30px;
}

#ulone {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    padding-left: 20px;
}

.header-menu {
    position:fixed;
    display: flex;
    width: 1280px;
    z-index: 999;

}
.accessibility {
    position: absolute;
    height: 10px;
    width: 10px;
    color: #fcfaf4;
    display: none;
}

#skip {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    margin-left: 0px;
    text-align: center;
    list-style: outside none;
}

    #skip li {
        list-style-type: none;
    }

    #skip a {
        position: absolute;
        left: -9999px;
        top: 30px;
    }

        #skip a:focus, #skip a:active {
            position: relative;
            left: 0px;
            z-index: 9999;
            width: 200px;
            height: auto;
            margin: 0 auto;
            padding: 30px 45px;
            text-align: center;
            text-decoration: none;
            letter-spacing: 4px;
            font: 25px "Assistant";
            color: white;
            border: solid 1px;
            background-color: black
        }

#navone {
    background-color: #000000;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
}

#navone ul li {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;   
}

    #navone ul li a {
        color: #c5e0b4;
        text-decoration: none;
        font-size: 18px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
    }

#navone ul li a.active{
    color: #c5e0b4;
}

#navone ul li a:after {
    content: '';
    position: absolute;
    bottom: 23px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 2px;
    background: #c5e0b4;
    display: none;  
}


#navone ul li a:hover {
    color: #ff833e;
}

#navone ul li ul {
    display:none;
    position:absolute;
}

#navone ul li:hover> ul  {
    background-color:#000000; 
}

#navone .tavlinim-menu-container:hover .tavlinim-menu {
    display: grid;
}

#navone ul li:hover .categories-menu {
    display: grid;
}

.tavlinim-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 210px;
    width: 200px;
    padding: 8px;
    right: -15px;
    top: 80px;
}

.categories-menu{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    height:100px;
    width:127px;
    padding:8px;
    right:-15px;
    top:80px;
}

#navone .tavlinim-menu li a {
    padding: 8px;
}



#navone ul li:hover .categories-menu{
    display:grid;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 250px;
    background-color: #000000;
    font-size: 55px;
    font-family: 'Freestyle Script';
    color: #c5e0b4;
}
#contact{
    position:relative;
}
#contact:after{
    position:absolute;
    content:'';
    border-bottom:1px solid #c5e0b4;
    width:33px;
    height:1px;
    padding-top:30px;
    right:24%;
}
.imgbackground {
    background-image: url('../images/background tavlinim.jpg');
    width: 1280px;
    height: 520px;
    background-repeat: no-repeat;
}
.background-opacity {
    width: 1280px;
    height: 520px;
    background-color: rgba(0,0,0,0.80);
    position: absolute;
    top: 0;
    display:flex;
}
.title-contactus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #c5e0b4;
    font-size: 50pt;
    padding-bottom: 33px;
}
.title-line {
    width: 700px;
    margin: 0 auto;
    position: relative;
    padding-top: 40px;
}
nav ol li {
    display: inline-block;
    color: #c5e0b4;
    font-size: 14pt;
}
    nav ol li a {
        color: #c5e0b4;
        font-size: 14pt;
    }
    nav ol li:after{
        content:">";
    }
    nav ol li:last-child:after{
        content:""
    }

    nav ol li:last-child {
        font-weight: 700;
    }

    #bread-menu{
        margin-top:10px;
        margin-right:-40px;
    }

    
.lines {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 28pt;
    color: #c5e0b4;
}

    .lines:before {
        content: '';
        background: #c5e0b4;
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    }

    .lines:after {
        content: attr(data-content);
        position: relative;
        padding: 0 8px;
        line-height: 1.5em;
        background: #000000;
    }
form {
    font-size: 20pt;
    display: flex;
    flex-wrap: wrap;
    line-height: 150%;
    margin-top: 36px;
}

#home {
    width: 240px;
}

#top {
    display: flex;
    position: relative;
    right: 69px;
}
.details {
    font-size: 20pt;
    color: #c5e0b4
}
.position-gender {
    color: #c5e0b4;
}
.leftside {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 200px;
}


.rightside {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 200px;
}

.bottomside {
    position: relative;
    right: 69px;
}
.melel {
    padding-top: 83px;
    padding-right: 195px;
}
textarea {
    width: 736px;
}
.send {
    font-size: 20pt;
}
#send {
    background-color: #ff833e;
    color: #000000;
    margin-right: 535px;
    margin-top: 86px;
    width: 100px;
}
.link-disabled{
    cursor:not-allowed;
}
footer {
    width: 1280px;
    height: 300px;
    margin-top: 67px;
    background-color: #000000;
}

#logo-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 22px;
    
}

#logo-footer p {
    font-size: 40pt;
    font-family: 'Freestyle Script';
    color:#ff833e;
}

.navtwo {
    display: flex;
}

.footer-nav1{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.footer-nav2{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-right: 126px;
}

.footer-nav1, a {
    color: #ff833e;
    text-decoration: none;
}

.footer-nav2 a {
    color: #ff833e;
    text-decoration: none;
}

.footer-around {
    display:flex;
}
.herbs-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 210px;
    width: 200px;
    padding: 8px;
    list-style: none;
    margin-right: 433px;
}

.herbs-footer a {
    color:#c5e0b4;
}

.categories-footer {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    list-style: none;
    margin-top: 8px;
    margin-right: 89px;
    height: 105px;

}

.categories-footer a {
    color:#c5e0b4;
}


