
.tavlinim-menu-container {
    position: relative;
}

.tavlinim-menu-container:after {
    position: absolute;
    content: '';
    border-bottom: 1px solid #ff833e;
    width: 33px;
    height: 1px;
    right: 24%;
    bottom: 25px;
}

.sage-bg-cover {
    background-size: cover;
    background-image: url('../images/sage-bg.jpg');
    height: 510px;
    width: 1280px;
}

.background-opacity {
    width: 1280px;
    height: 520px;
    background-color: rgba(0, 0, 0, 0.60);
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
}

.background-opacity h2 {
    font-weight: normal;
}

h1 {
    color: white;
    font-size: 35pt;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 188px;
    padding-bottom: 10px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 322px;
    font-size: 24pt;
}

h3 {
    color: #293d31;
    font-size: 45pt;
    font-family: 'Amatic SC', cursive;
    padding-right: 200px;
}

.new-info p {
    color: #293d31;
    font-size: 18pt;
    padding-top: 20px;
    width: 900px;
    padding-right: 200px;
}

.sage-information {
    height: 70px;
    width: 1280px;
    background-color: #293d31;
    position: absolute;
    top: 520px;
    display: flex;


}

.text-icon {
    display: flex;
    padding-right: 76px;
}

.season-icon {
    width: 20px;
    height: 60px;
    padding-top: 5px;


}

.season-text {
    color: white;
    padding-top: 30px;
    padding-right: 10px;
    font-size: 14pt;

}


.sun-icon {
    width: 40px;
    height: 45px;
    padding-top: 13px;
}

.sun-text {
    color: white;
    padding-top: 30px;
    padding-right: 10px;
    font-size: 14pt;
}


.water-can-icon {
    width: 50px;
    height: 45px;
    padding-top: 11px;
}

.water-can-text {
    color: white;
    padding-top: 30px;
    padding-right: 10px;
    font-size: 14pt;
}

.plant-icon {
    width: 30px;
    height: 50px;
    padding-top: 9px;

}

.plant-text {
    color: white;
    padding-top: 30px;
    padding-right: 10px;
    font-size: 14pt;

}

.cutting-icon {
    width: 35px;
    height: 50px;
    padding-top: 9px;
}

.cutting-text {
    color: white;
    padding-top: 30px;
    padding-right: 10px;
    font-size: 14pt;
}

nav ol li {
    display: inline-block;
    color: #293d31;
    font-size: 14pt;
}

nav ol li a {
    color: #293d31;
    font-size: 14pt;
}

nav ol li:after {
    content: ">";
}

nav ol li:last-child:after {
    content: "";
}


#title-line {
    width: 400px;
    margin: 0 auto;
    position: relative;
    padding-top: 40px;
}

iframe {
    margin-right: 239px;
    margin-top: 20px;
}

.timeline {
    border-bottom: solid 1px #293d31;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    position: relative;
    width: 1154px;
    margin-right: 59px;
}

.timeline p {
    font-family: 'Amatic sc', cursive;
    color: #293d31;
    font-size: 50pt;
    position: relative;
    left: 59px;
}

#circles {
    display: flex;
    position: absolute;

}

.circle1 {
    border: solid 1px #293d31;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fcfaf4;
    position: relative;
    left: 348px;
    top: 40px;

}

.circle2 {
    border: solid 1px #293d31;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fcfaf4;
    position: relative;
    left: 111px;
    top: 40px;

}

.circle3 {
    border: solid 1px #293d31;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fcfaf4;
    position: relative;
    right: 126px;
    top: 40px;
}

.circle4 {
    border: solid 1px #293d31;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fcfaf4;
    position: relative;
    right: 358px;
    top: 40px;
}

#icons {
    position: absolute;
}

.black-pot {
    width: 38px;
    position: relative;
    left: 352px;
    bottom: -6px;

}

.black-season {
    width: 30px;
    position: relative;
    left: 99px;
    top: 10px;
}

.black-sun {
    width: 54px;
    position: relative;
    right: 143px;
    top: 12px;
}

.black-watercan {
    width: 55px;
    position: relative;
    right: 362px;
    top: 5px;
}

#caption {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: 138px;
    margin-top: 42px;
}

#caption p {
    font-size: 16pt;
    color: #293d31;
}

.potpara {
    margin-right: -26px;
}

.seasonpara {
    margin-right: -21px;

}

.sunpara {
    margin-right: -12px;
}

.waterpara {
    margin-right: -6px;
}

#paragraphs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#paragraphs p {
    font-size: 14pt;
    color: #293d31;
}

.potparagraph {
    width: 190px;
    margin-right: 111px;
    margin-top: 10px;
}

.seasonparagraph {
    width: 190px;
    margin-right: 82px;
    margin-top: 10px;
}

.sunparagraph {
    width: 190px;
    margin-right: 56px;
    margin-top: 10px;
}

.waterparagraph {
    width: 190px;
    margin-right: 28px;
    margin-top: 10px;
}

#sage-images {
    margin-right: 18px;
    margin-top: 25px;
}

#sage-images img {
    width: 250px;
    height: 250px;
    margin-right: 45px;

}

h3 {
    font-family: 'Amatic sc', cursive;
    color: #293d31;
    font-size: 45pt;
    position: relative;
    top: 36px;
}

.know1 {
    color: #293d31;
    font-size: 14pt;
    position: relative;
    top: 45px;
    right: 199px;
    width: 800px;
}

#knowledge2 {
    display: flex;
    position: relative;
    top: 59px;
    right: 197px;
}

#knowledge2 img {
    width: 30px;
}


.know2 {
    margin-left: 5px;
    margin-top: 8px;
    color: #293d31;
    font-size: 14pt;
}

.know3 {
    margin-right: 5px;
    margin-top: 8px;
    color: #293d31;
    font-size: 14pt;
}

