#contact {
    position: relative;
}

#contact:after {
    position: absolute;
    content: '';
    border-bottom: 1px solid #ff833e;
    width: 33px;
    height: 1px;
    padding-top: 30px;
    right: 24%;
}

.contact-img {
    background-image: url('../images/contact-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.background-opacity {
    width: 1280px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.60);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-contactus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    font-size: 50pt;
    padding-bottom: 33px;
}

.title-line {
    width: 700px;
    margin: 0 auto;
    position: relative;
    padding-top: 40px;
}

nav ol li {
    display: inline-block;
    color: #293d31;
    font-size: 14pt;
}

nav ol li a {
    color: #293d31;
    font-size: 14pt;
}

nav ol li:after {
    content: ">";
}

nav ol li:last-child:after {
    content: ""
}

nav ol li:last-child {
    font-weight: 700;
}

#bread-menu {
    margin-top: 10px;
    margin-right: -40px;
}


.lines {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 28pt;
    color: #293d31;
}

.lines:before {
    content: '';
    background: #ff833e;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.lines:after {
    content: attr(data-content);
    position: relative;
    padding: 0 8px;
    line-height: 1.5em;
    background: #fcfaf4;
}

form {
    font-size: 20pt;
    display: flex;
    flex-wrap: wrap;
    line-height: 150%;
    margin-top: 36px;
}

#home {
    width: 240px;
}

#top {
    display: flex;
    position: relative;
    right: 69px;
}

.details {
    font-size: 20pt;
}

.leftside {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 200px;
}


.rightside {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 200px;
}

.bottomside {
    position: relative;
    right: 69px;
}

.melel {
    padding-top: 83px;
    padding-right: 195px;
}

textarea {
    width: 736px;
}

.send {
    font-size: 20pt;
}

#send {
    background-color: #ff833e;
    color: #293d31;
    margin-right: 535px;
    margin-top: 86px;
    width: 100px;
}

.link-disabled {
    cursor: not-allowed;
}

footer {
    width: 1280px;
    height: 317px;
    background-color: #293d31;
}

#logo-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 22px;

}

#logo-footer p {
    font-size: 40pt;
    font-family: 'Freestyle Script';
    color: white;
}

.navtwo {
    display: flex;
}

.footer-nav1 {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.footer-nav2 {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-right: 126px;
}

.footer-nav1, a {
    color: #ff833e;
    text-decoration: none;
}

.footer-nav2 a {
    color: #ff833e;
    text-decoration: none;
}

.footer-around {
    display: flex;
}

.herbs-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 210px;
    width: 200px;
    padding: 8px;
    list-style: none;
    margin-right: 433px;
}

.herbs-footer a {
    color: white;
}

.categories-footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    list-style: none;
    margin-top: 8px;
    margin-right: 89px;
    height: 105px;

}

.categories-footer a {
    color: white;
}


