.img-bg {
    background: transparent;
}

.accessibility-contrast #navone {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast #logo {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast #navone ul li a {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast .acc-container {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast nav ol li {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast nav ol li a {
    color: #c5e0b4;
}

.accessibility-contrast .title-about {
    background: #000;
    width: 160px;
    height: 80px;
    color: #c5e0b4;
}

.accessibility-contrast #about-info {
    background:#000000;
    color: #c5e0b4;
}

.accessibility-contrast .names p {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast .about-around {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast .tavlinimimages {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast .title-tav {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast .sec-title-tav {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast .herb-text .sentences {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast .long-Conditions {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast .sage-information {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast .season-text {
    color: #c5e0b4;
}

.accessibility-contrast .water-can-text {
    color: #c5e0b4;
}

.accessibility-contrast .plant-text {
    color: #c5e0b4;
}

.accessibility-contrast .cutting-text {
    color: #c5e0b4;
}

.accessibility-contrast .timeline {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast .timeline p {
    color: #c5e0b4;
}

.accessibility-contrast .short-Conditions {
    background-color: #000;
    color: #c5e0b4;
}

.accessibility-contrast #paragraphs {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast #paragraphs p {
    color: #c5e0b4;
}

.accessibility-contrast #knowledge h3 {
    color: #c5e0b4;
}

.accessibility-contrast .know1 {
    color: #c5e0b4;
}

.accessibility-contrast .know3 {
    color: #c5e0b4;
}

.accessibility-contrast #caption {
    background: #000;
}

.accessibility-contrast #caption p {
    color: #c5e0b4;
}

.accessibility-contrast #knowledge {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast .water-text {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast .sun-text {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast .about-projects {
    color: #c5e0b4;
}

.accessibility-contrast .about-projects p {
    color: #c5e0b4;
}

.accessibility-contrast .about-pages {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast .about-pages li a {
    color: #c5e0b4;
}

.accessibility-contrast .about-hit {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast footer {
    background: #000;
    color: #c5e0b4;
}

.accessibility-contrast .title-contactus {
    background: #000;
    width: 230px;
    height: 100px;
    color: #c5e0b4;
}

.accessibility-contrast .categories-section {
    background: #000;
}

.accessibility-contrast .content-light {
    background: #000000;
}

.accessibility-contrast .content-tea {
    background: #000;
}

.accessibility-contrast .content-water {
    background-color: #000;
}

.accessibility-contrast .all-herb-section {
    background: #000;
}

.accessibility-contrast .lines {
    color: #c5e0b4;
}

.accessibility-contrast .lines:after {
    background: #000;
}

.accessibility-contrast .categories-section h3 {
    color: #c5e0b4;
}

.accessibility-contrast .categories-section p  {
    color: #c5e0b4;
}

.accessibility-contrast .categories-button a {
    color: #c5e0b4;
}

.accessibility-contrast .categories-section a {
    color: #c5e0b4;
}

.accessibility-contrast .text-container, .homepage-video, video {
    background-color: transparent;
}

.accessibility-contrast .homepage-video video {
    background-color: transparent;
}

.accessibility-contrast .homepage-video video source {
    background-color: transparent;
    z-index: 99;
}

.accessibility-contrast .text-container .arrow-video {
    background-color: transparent;
}

.accessibility-contrast .herb-text .text {
    color: #c5e0b4;
}

.accessibility-contrast #basil-text {
    color: #c5e0b4;
}

.accessibility-contrast .herbs-footer a {
    color: #c5e0b4;
}

.accessibility-contrast .categories-footer a {
    color: #c5e0b4;
}

.accessibility-contrast #sage-text {
    color: #c5e0b4;
}

.accessibility-contrast .text-container h1 {
    color: #c5e0b4;
}

.accessibility-contrast .text-container .vidtext {
    color: #c5e0b4;
}

.accessibility-contrast .text-container .vidtext2 {
    color: #c5e0b4;
}

.accessibility-contrast #rosemary-text {
    color: #c5e0b4;
}

.accessibility-contrast #mint-text {
    color: #c5e0b4;
}

.accessibility-contrast .mint-waterinfo {
    color: #c5e0b4;
}

.accessibility-contrast .mint-suninfo {
    color: #c5e0b4;
}

.accessibility-contrast .rosemary-waterinfo {
    color: #c5e0b4;
}

.accessibility-contrast .rosemary-suninfo {
    color: #c5e0b4;
}

.accessibility-contrast .basil-waterinfo {
    color: #c5e0b4;
}

.accessibility-contrast .basil-suninfo {
    color: #c5e0b4;
}

.accessibility-contrast .ideal {
    color: #c5e0b4;
}

.accessibility-contrast .sage-waterinfo {
    color: #c5e0b4;
}

.accessibility-contrast .sage-suninfo {
    color: #c5e0b4;
}

.ooter-nav1 a {
    color: #ff833e;
}

body {
    direction: rtl;
    background-color: #fcfaf4;
    font-family: 'Assistant', sans-serif;
}

#container {
    width: 1280px;
    margin: 0 auto;
}

.wheelchair {
    width: 30px;
}

.link-disabled {
    cursor: not-allowed;
    text-decoration: none;
}

.accessibility {
    position: absolute;
    height: 10px;
    width: 10px;
    color: #fcfaf4;
    display: none;
}

#skip {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    margin-left: 0px;
    text-align: center;
    list-style: outside none;
}

#skip li {
    list-style-type: none;
}

#skip a {
    position: absolute;
    left: 941px;
    top: 0;
    opacity: 0;
}

#skip a:focus, #skip a:active {
    position: relative;
    opacity: 1;
    left: 55px;
    top: 23px;
    z-index: 9999;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 4px;
    color: white;
    border: solid 1px;
    background-color: black
}

#ulone {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    padding-left: 20px;
}

.header-menu {
    position: sticky;
    top: 0;
    display: flex;
    width: 1280px;
    z-index: 999;
}

#navone {
    background-color: #293d31;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
}

#navone ul li {
    display: inline-block;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

#navone ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    width: 100%;;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

#navone ul li a.active {
    color: #ff833e;
}

#navone ul li a:after {
    content: '';
    position: absolute;
    bottom: 23px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 2px;
    background: #ff833e;
    display: none;
}


#navone ul li a:hover {
    color: #ff833e;
}

#navone ul li ul {
    display: none;
    position: absolute;
}

#navone ul li:hover > ul {
    background-color: #293d31;
}


#navone .tavlinim-menu-container:hover .tavlinim-menu {
    display: grid;
}

#navone ul li:hover .categories-menu {
    display: grid;
}

.bread-menu {
    margin-top: 8px;
}

.bread-menu ol {
    list-style: none;
    display: flex;
    align-content: center;
    margin: 0;
    padding: 0;
}

.bread-menu ol li {
    margin-left: 12px;
    font-size: 16px;
    position: relative;
}

.bread-menu ol li a {
    color: #293d31;
    font-size: 16px;
}

.bread-menu ol li:last-child {
    font-weight: bold;
}

.bread-menu ol li:not(:last-child):after {
    content: '>';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 2px;
}

.homepage {
    position: relative;
}

.homepage:after {
    position: absolute;
    content: '';
    border-bottom: 1px solid #ff833e;
    width: 33px;
    height: 1px;
    padding-top: 30px;
    right: 24%;
}

.tavlinim-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 210px;
    width: 200px;
    padding: 8px;
    right: -15px;
    top: 80px;
}

.categories-menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 100px;
    width: 127px;
    padding: 8px;
    right: -15px;
    top: 80px;
}

#navone .tavlinim-menu li a {
    padding: 8px;
}

#navone ul li:hover .categories-menu {
    display: grid;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 250px;
    background-color: #ff833e;
    font-size: 55px;
    font-family: 'Freestyle Script';
    color: #293d31;
}

.text-container {
    height: 803px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.text-container h1 {
    color: white;
    font-size: 40pt;
    padding-top: 105px;
    z-index: 9;
}

.text-container .vidtext {
    color: white;
    font-size: 24pt;
    z-index: 9;
}

.text-container .vidtext2 {
    color: white;
    font-size: 24pt;
    margin-top: 305px;
    z-index: 9;
}

.text-container .arrow-video {
    height: 60px;
    width: 60px;
    bottom: 9%;
    position: absolute;
    display: block;
    cursor: pointer;
    border-width: 4px 4px 0 0;
    border-style: solid;
    border-color: #FFF;
    z-index: 9;
    animation: pulse 0.7s infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes pulse {
    0% {
        transform: rotate(135deg) scale(1);
    }
    100% {
        transform: rotate(135deg) scale(1.2);
    }
}

.homepage-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.homepage-video video {
    display: block;
    min-width: 100%;
    min-height: 100%;
}

.all-herb-section {
    position: relative;
}

.all-herb-anchor {
    position: absolute;
    top: -120px;
}

.herbimages {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
}

.all-herbs-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 29px;
}

.imagesize {
    width: 250px;
    height: 250px;
    box-shadow: 5px 5px 10px rgb(120, 120, 120);


}

.herb-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    position: relative;

}

.herb-text .text {
    font-size: 18pt;
    color: #293d31;
}

.under-line {
    display: none;
    content: "";
    width: 30px;
    height: 1px;
    background-color: #293d31;
    position: absolute;
    right: 45%;
}

.herb-text:hover .under-line {
    display: block;
}

.herb-text:focus .under-line {
    display: block;
}

.herb-text:focus-within .under-line {
    display: block;
}

.herb-text:hover .herb-info {
    display: block;
}


.herb-text:focus .herb-info {
    display: block;
}

.herb-name {
    color: #293d31;
    font-size: 18pt;
    margin-top: 10px;
}

.herb-info {
    display: none;
    width: 250px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.60);
    position: absolute;
    top: 0;

}

.herb-text:hover .herb-info {
    display: block;
}

.ideal {
    position: relative;
    color: white;
    font-size: 16pt;
    position: relative;
    top: 60px;
    right: 11px;

}


#rosemary-text {
    color: white;
    margin-top: 20px;
    margin-right: 12px;
    cursor: not-allowed;
    font-size: 14pt;
}

#mint-text {
    color: white;
    margin-top: 20px;
    margin-right: 22px;
    cursor: not-allowed;
    font-size: 14pt;
}

#sage-text {
    color: white;
    margin-top: 20px;
    margin-right: 22px;
    font-size: 14pt;
}

#basil-text {
    color: white;
    margin-top: 20px;
    margin-right: 21px;
    cursor: not-allowed;
    font-size: 14pt;

}

.icon-rosemary {
    position: relative;
    right: 10px;
    bottom: 2px;
    cursor: not-allowed;
}

.rosemary-waterinfo {
    position: absolute;
    top: 100px;
    right: 50px;
    color: white;
    font-size: 14pt;
}


.water-can-rosemary {
    height: 30px;
    width: 35px;
    position: absolute;
    top: 90px;
    right: 8px;
}

.rosemary-suninfo {
    position: absolute;
    top: 149px;
    right: 50px;
    color: white;
    font-size: 14pt;

}


.sun-rosemary {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 143px;
    right: 15px;

}

.icon-mint {
    position: absolute;
    top: 52px;
    cursor: not-allowed;
}

.mint-waterinfo {
    position: absolute;
    top: 100px;
    right: 50px;
    color: white;
    font-size: 14pt;
}

.water-can-mint {
    height: 30px;
    width: 35px;
    position: absolute;
    top: 90px;
    right: 8px;

}

.mint-suninfo {
    position: absolute;
    top: 149px;
    right: 50px;
    color: white;
    font-size: 14pt;
    width: 130px;

}

.sun-mint {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 143px;
    right: 15px;

}

.icon-sage {
    position: relative;
    bottom: 3px;
}

.sage-waterinfo {
    position: absolute;
    top: 100px;
    right: 50px;
    color: white;
    font-size: 14pt;
}

.water-can-sage {
    height: 30px;
    width: 35px;
    position: absolute;
    top: 90px;
    right: 8px;

}

.sage-suninfo {
    position: absolute;
    top: 149px;
    right: 50px;
    color: white;
    font-size: 14pt;
    width: 130px;

}

.sun-sage {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 143px;
    right: 15px;

}

.icon-sage a {
    color: white;
}

.icon-basil {
    position: relative;
    bottom: -13px;
    cursor: not-allowed;

}

.basil-waterinfo {
    position: absolute;
    top: 100px;
    right: 50px;
    color: white;
    font-size: 14pt;

}

.water-can-basil {
    height: 30px;
    width: 35px;
    position: absolute;
    top: 90px;
    right: 8px;

}

.basil-suninfo {
    position: absolute;
    top: 149px;
    right: 50px;
    color: white;
    font-size: 14pt;
    width: 130px;

}

.sun-basil {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 143px;
    right: 15px;
}


.herb-text p {
    font-size: 18pt;
    color: #293d31;
}

.herb-button {
    width: 140px;
    height: 48px;
    background-color: #ff833e;
    color: #293d31;
    font-size: 18pt;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 5px 5px 10px rgb(120, 120, 120);

}

.herb-button:hover {
    background-color: #293d31;
    color: white;
}


#title-line {
    width: 850px;
    margin: 0 auto;
    position: relative;
    padding-top: 40px;
}

.lines {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 28pt;
    color: #293d31;
}

.lines:before {
    content: '';
    background: #ff833e;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.lines:after {
    content: attr(data-content);
    position: relative;
    padding: 0 8px;
    line-height: 1.5em;
    background: #fcfaf4;
}

.categories-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.categories-section h2 {
    color: #293d31;
    font-size: 35pt;
    width: 1280px;
    text-align: center;
    padding-top: 30px;

}

.light {
    background-image: url(../images/light.png);
    background-repeat: no-repeat;
    height: 330px;
    width: 500px;
    margin-right: 149px;
    margin-top: 20px;
    background-color: transparent;
    z-index: 999;
}

.categories-section a {
    color: white;
    font-size: 40pt;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
}

.categories-section a:hover {
    color: #ff833e;
}

.content-light {
    height: 330px;
    width: 500px;
    background-color: #dccec3;
    margin-top: 20px;

}

.water {
    background-image: url(../images/water.png);
    background-repeat: no-repeat;
    height: 330px;
    width: 500px;

}

.content-water {
    height: 330px;
    width: 500px;
    background-color: #dccec3;
    margin-right: 149px;

}

.tea {
    background-image: url(../images/tea3.png);
    background-repeat: no-repeat;
    height: 330px;
    width: 500px;
    margin-right: 149px;

}

.content-tea {
    height: 330px;
    width: 500px;
    background-color: #dccec3;

}

.categories-section h3 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20pt;
    color: #293d31;
}

.categories-section p {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: 45px;
    margin-left: 25px;
    font-size: 15pt;
    color: #293d31;

}

.categories-button {
    width: 114px;
    height: 41px;
    background-color: #ff833e;
    color: #293d31;
    font-size: 13pt;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 355px;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgb(120, 120, 120);
}

.categories-button a {
    font-size: 16pt;
    color: #293d31;
}

.categories-button a:hover {
    color: white;
}

.categories-button:hover {
    background-color: #293d31;
    color: white;
}

footer {
    width: 1280px;
    height: 317px;
    background-color: #293d31;
}

#logo-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 22px;

}

#logo-footer p {
    font-size: 40pt;
    font-family: 'Freestyle Script';
    color: white;
}

.navtwo {
    display: flex;
}

.footer-nav1 {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.footer-nav2 {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-right: 126px;
}

.footer-nav1, a {
    color: #ff833e;
    text-decoration: none;
}

.footer-nav2 a {
    color: #ff833e;
    text-decoration: none;
}

.footer-around {
    display: flex;
}

.herbs-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 210px;
    width: 200px;
    padding: 8px;
    list-style: none;
    margin-right: 433px;
}

.herbs-footer a {
    color: white;
}

.categories-footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    list-style: none;
    margin-top: 8px;
    margin-right: 89px;
    height: 105px;

}

.categories-footer a {
    color: white;
}


